//BASE
$text-color:#000;
$base-font-size:16px;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    //background-color: #fff;
    color:$text-color;
    font-family: sans-serif;
    font-size:$base-font-size;
    // overall page layout with simple CSS grid of one column / one row
    display:grid;
    grid-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px 60px 170px 180px 60px;
    grid-gap: 0px;
}

.loading-overlay {
    position: fixed;
    z-index: 999;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    overflow: show;
    margin: auto;
    display:block;
    background-color: #538ac5;
}