//description
.weather-desc {
    padding-top: 10px;
    
    &__description{
        font-weight: bolder;
        font-size: 2em;
        padding-top: 8px;
    }
    &__city{
        font-weight: bolder;
        font-size: 1.5em;
    }
}